<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Buddy</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
</head>


<body>


  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Budget Buddy</a>
      <div class="ml-auto">
        <a href="#"><i class="menu-icon fas fa-bell"></i></a>
        <a href="#"><i class="menu-icon fas fa-cog"></i></a>
        <a href="#"><i class="menu-icon fas fa-sign-out-alt"></i></a>
      </div>
      <div class="user-profile">
        <img src="profile2.png" alt="User" width="40" height="40">
      </div>
    </nav>
  </header>


  <!-- Menu Section -->
  <div class="menu-section">
    <div class="menu-item">
      <i class="menu-icon fas fa-home"></i>
      <a href="#" class="nav-link">Home</a>
    </div>
    <div class="menu-item">
      <i class="menu-icon fas fa-list"></i>
      <a href="#" class="nav-link">Categories</a>
    </div>
    <div class="menu-item">
      <i class="menu-icon fas fa-file-invoice-dollar"></i>
      <a href="#" class="nav-link">Transactions</a>
    </div>    
    <div class="menu-item">
      <i class="menu-icon fas fa-plus"></i>
      <a href="#" class="nav-link">Add Income</a>
    </div>
    <div class="menu-item">
      <i class="menu-icon fas fa-minus"></i>
      <a href="#" class="nav-link">Add Expense</a>
    </div>
  </div>


  <main class="container">
    <div class="wrapper">
        <div class="container">
            <div class="total-amount-container">
            <h3>Total Balance </h3>
            <% if (transactions && transactions.length > 0) { %>
            <span id="totalBalance" class="<%= totalBalance < 0 ? 'negative-balance' : 'positive-balance' %>">$ <%= totalBalance %></span>
            <% } else { %>
                <p id = "no-data">No Data to Show</p>
            <% } %>
            <a href="##"><button>Is there a problem? Fix it</button></a>
            </div>        
            <div class="expense-category">
                <h1>Category Expenses</h1>
                <% if (transactions && transactions.length > 0) { %>
                <canvas id="myPieChart"></canvas>
                <% } else { %>
                        <p id = "no-data">No Data to Show</p>
                <% } %>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var data = {
                            labels: <%= JSON.stringify(categoryLabels) %>,
                            datasets: [{
                                data: <%= JSON.stringify(categoryAmounts) %>,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(50, 205, 50, 0.2)',
                                    'rgba(255, 69, 0, 0.2)',
                                    'rgba(0, 128, 128, 0.2)',
                                    'rgba(128, 0, 128, 0.2)',
                                    ],
                                    borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(50, 205, 50, 1)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(255, 69, 0, 1)',
                                    'rgba(0, 128, 128, 1)',
                                    'rgba(128, 0, 128, 1)',
                                    ],

                                borderWidth: 1
                            }]
                        };
            
                        var chart2 = document.getElementById('myPieChart').getContext('2d');
                        var myPieChart = new Chart(chart2, {
                            type: 'pie',
                            data: data,
                            options:{
                                plugins:{
                                    legend:{
                                        position:'bottom'
                                    }
                                }
                            }
                        });
                    });
                </script>
            </div> 
            <div class="habit-spending">
                <h3>Income Vs. Expenses</h3>
                <% if (transactions && transactions.length > 0) { %>
                    <canvas id="myChart"></canvas>
                <% } else { %>
                    <p id = "no-data">No Data to Show</p>
                <% } %>
                <form action="/" method="get" id="timePeriodForm">
                    <label for="timePeriod">Select Time Period:</label>
                    <select id="timePeriod" name="timePeriod" onchange="updateLocalStorage(); updateChart(this);">
                      <option value="All" <%= timePeriod === 'All' ? 'selected' : '' %>>All Time</option>
                      <option value="7" <%= timePeriod === '7' ? 'selected' : '' %>>Last 7 Days</option>
                      <option value="30" <%= timePeriod === '30' ? 'selected' : '' %>>Last 30 Days</option>
                    </select>
                  </form>
                <script>
                  var totalIncome = <%= totalIncome %>;
                  var totalExpenses = <%= totalExpenses %>;


                  var data = {
                    labels: ['Income', 'Expenses'],
                    datasets: [{
                        data: [totalIncome, totalExpenses],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1,
                    }]
                };

                var options = {
                    cutoutPercentage: "70%",
                    legend: {
                        position: 'bottom'
                    }
                };

                var chart3 = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(chart3, {
                    type: 'doughnut',
                    data: data,
                    options: options
                });
                const periodData = document.getElementById('timePeriod');
                function updateChart(){
                    console.log(document.getElementById('timePeriod').value)
                    var chartData = periodData.value === 'All' ? '<%=totalIncome %>,<%=totalExpenses %>':periodData.value === '7' ? '<%=totalIncomeLast7Days %>,<%=totalExpensesLast7Days %>':'<%=totalIncomeLast30Days %>,<%=totalExpensesLast30Days %>';
                    console.log(chartData);
                    myChart.data.datasets[0].data = chartData.split(',');
                    myChart.update();
                }
                </script>
            </div>
            <div class="recent-history">
              <h3>Recent History</h3>
              <table class = "history">
                  <thead>
                      <tr>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Type</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% last5Transactions.forEach(function(transaction) { %>
                          <tr>
                              <td>
                                  <% if (transaction.Transactions.Date) { %>
                                      <%= transaction.Transactions.Date %>
                                  <% } else { %>
                                      Date Not Available
                                  <% } %>
                              </td>
                              <td><%= transaction.Transactions.Amount %></td>
                              <td><%= transaction.Transactions.Type %></td>
                          </tr>
                      <% }); %>
                  </tbody>
              </table>
              <% if (transactions && transactions.length > 0) { %>
                  <% } else { %>
                      <p id = "no-data">No Data to Show</p>
                  <% } %>
              <a href="##"><button>See More</button></a>
            </div>
            <div class="budget-chart">
              <% if (transactions && transactions.length > 0) { %>
              <canvas id="budget-chart"></canvas>
              <% } else { %>
                  <p id = "no-data">No Data to Show</p>
              <% } %>
              <script>
                  
                  <% let totalBudget = 0; %>
                  <% let totalSpent = 0; %>

                  <% sortedCategories.forEach(category => { %>
                  <% totalBudget += category.budget; %>
                  <% totalSpent += category.spent; %>
                  <% }); %>;

                  
                  var data = {
                      labels: ['Total Spent', 'Total Budget Amount'],
                      datasets: [{
                          label: '',
                          data: [<%= totalSpent %>, <%= totalBudget %>],
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)'
                          ],
                          borderWidth: 2
                      }]
                  };
                  

                  var chart1 = document.getElementById('budget-chart').getContext('2d');
                  var myChart = new Chart(chart1, {
                      type: 'bar',
                      data: data,
                      options:{
                          plugins:{
                              legend:{
                                  display:false
                              }
                          },        scales: {
            y: {
                ticks: {
                    maxRotation: 10,
                    minRotation: 10
                }
            }
        },
                          indexAxis:"y",
                          datalabels: false,
                          barThickness:25,
                          maintainAspectRatio: false,
                          noData: {
                          text: 'No Data to Show',
                          fontSize: 16,
                          fontStyle: 'bold'
                          }
                      }
                  });
                  </script>
          </div>
            <div class="remaning-budget">
              <h1>Budget Categories</h1>
              <form action="/" method="get" id="categoryForm">
                  <label for="categoryCount">Select categories shown</label>
                  <select id="categoryCount" name="count" onchange="updateLocalStorage(); document.getElementById('categoryForm').submit();">
                      <option value="1" <%= count === 1 ? 'selected' : '' %>>1</option>
                      <option value="2" <%= count === 2 ? 'selected' : '' %>>2</option>
                      <option value="3" <%= count === 3 ? 'selected' : '' %>>3</option>
                  </select>
              </form>
              <% if (transactions && transactions.length > 0) { %>
              <table>
                  <tr>
                      <th>Category</th>
                      <th>Budget</th>
                      <th>Spent</th>
                      <th>Remaining Budget</th>
                  </tr>
                      <% categoriesWithRemainingBudget.forEach(category => { %>
                  <tr>
                      <td><%= category.name %></td>
                      <td><%= category.budget %></td>
                      <td><%= category.spent %></td>
                      <td>
                  <% if (category.remainingBudget <= 0) { %>
                      <span style="color: red;"><%= category.remainingBudget %> (Over Budget)</span>
                  <% } else { %>
                      <%= category.remainingBudget %>
                  <% } %>
                      </td>
                  </tr>
               <% }); %>
              </table>
              <% } else { %>
                  <p id="no-data">No Data to Show</p>
              <% } %>
          </div>    
        </div>
    </div>
    <script>
    // Function to update local storage with the selected time period
    function updateLocalStorage() {
      var selectedTimePeriod = document.getElementById('timePeriod').value;
      var selectedcategoryCount = document.getElementById('categoryCount').value;
      localStorage.setItem('selectedTimePeriod', selectedTimePeriod);
      localStorage.setItem('selectedcategoryCount', selectedcategoryCount);
    }

    // Check if there is a saved time period in local storage and set the dropdown value
    document.addEventListener('DOMContentLoaded', function () {
      var savedTimePeriod = localStorage.getItem('selectedTimePeriod');
      var savedcategoryCount = localStorage.getItem('selectedcategoryCount');
      if (savedTimePeriod) {
        document.getElementById('timePeriod').value = savedTimePeriod;
      }
      if (savedcategoryCount) {
        document.getElementById('categoryCount').value = savedcategoryCount;
      }
    });
    
    </script>
  </main>

  <footer class="footer">
      <span class="text-muted">Copyright © 2023 Budget Buddy</span>
  </footer>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
    integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


</html>